
*{
    box-sizing: border-box; 
}
.head_container{
  
    display :flex;
    flex-wrap:wrap;
    /* margin:21px; */
    justify-content: center;
    background-color: antiquewhite;
   

}


.mycard{
    width: 18rem;
    margin-right: 2rem;
    animation-name: example;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
   
}
@keyframes example {
    0%   {transform: rotateX(22deg);}
    25%  {transform: rotateX(0deg);}
    50%  {transform: rotateX(-22deg);}
    76% {transform: rotateX(0deg);}
    100% {transform: rotateX(22deg);}
}
.mycard:hover{
    width: 50px;
    height: 300px;
    transform: rotate(0deg);
    animation-play-state:paused;
    transform: rotate(0deg);

}